max_peers = 64
max_peers_seed = 32
max_uploads = 8
download_rate = 256
upload_rate = 128
directory = ~/.torrents
session = ~/.torrents/.session
bind = onetooneandon.to
ip = caspar.magi.local
port_range = 49621-49628
port_random = yes
check_hash = yes
use_udp_trackers = yes
encryption = allow_incoming,try_outgoing,require,enable_retry
dht = auto
dht_port = 6889
peer_exchange = yes
